/* CSS Custom Properties Definitions */
@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: InterVariable, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    /* fix for Chrome */
  }
}

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: 1px;
  --spacing-2px: 2px;
  --spacing-3px: 3px;
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: "Inter var", 'Futura', Verdana, Helvetica;
  --fontFamily-serif: "Inter var", 'Futura', Verdana, Helvetica;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-semi-normal: 500;
  --fontWeight-bold: 700;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-dark: #0E1013;
  --color-light: #ffffff;
  --color-primary-accent: #F74A1F;
  --color-secondary-accent: #41434C;
  --color-tertiary-accent: #99cbd7;
  --color-background: #efe8d8;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

::selection {
  background: var(--color-tertiary-accent);
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--color-tertiary-accent);
  /* Gecko Browsers */
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  scroll-padding-top: var(--spacing-6);
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  font-weight: var(--fontWeight-semi-normal);
  color: var(--color-dark);
  background-color: var(--color-background);
}

footer {
  padding: var(--spacing-0) var(--spacing-0);
}

hr {
  margin-top: var(--spacing-1);
  border: 1px var(--color-dark);
  border-style: none none dashed;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-dark);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-dark);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1>a {
  color: inherit;
  text-decoration: none;
}

h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-4);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li>p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li>ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-secondary-accent);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary-accent);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote> :last-child {
  margin-bottom: var(--spacing-0);
}

/* blockquote>ul,
blockquote>ol {
  list-style-position: inside;
} */

table {
  width: 100%;
  border-spacing: var(--spacing-1);
}

table,
th,
td {
  margin-bottom: var(--spacing-8);
  border: 1px solid;
  text-align: left;
}

th,
td {
  padding: var(--spacing-2);
}

td:first-child {
  font-weight: var(--fontWeight-bold)
}

/* Link */

a {
  color: var(--color-primary-accent);
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  color: var(--color-light);
  text-decoration: none;
  background-color: var(--color-dark);
  border-bottom: var(--spacing-1) solid var(--color-primary-accent);
}

/* Custom classes */

.global-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-20);
}

.global-header {
  margin-bottom: var(--spacing-12);
}

.main-heading {
  font-size: var(--fontSize-7);
  margin-bottom: var(--spacing-12);
}

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary-accent);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.nav-link {
  margin-top: var(--spacing-1);
  margin-right: var(--spacing-3);
  display: inline-block;
  position: relative;
  color: var(--color-primary-accent);
  border-bottom: var(--spacing-1) solid transparent;
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-1);
  text-decoration: none;
}

.post-link {
  margin-top: var(--spacing-1);
  color: var(--color-primary-accent);
  border-bottom: var(--spacing-1) solid transparent;
  font-weight: var(--fontWeight-semi-normal);
  font-size: var(--fontSize-1);
  text-decoration: none;
}

.nav-link:hover,
.post-link:hover {
  background-color: var(--color-dark);
  border-bottom: var(--spacing-1) solid var(--color-primary-accent);
}

.newsletter-container {
  margin-top: var(--spacing-8);
}

.newsletter-link {
  color: var(--color-light);
  background: var(--color-primary-accent);
  -webkit-border-radius: var(--spacing-1);
  -moz-border-radius: var(--spacing-1);
  border-radius: var(--spacing-1);
  padding: var(--spacing-3);
  border: solid var(--color-dark) var(--spacing-1);
  text-decoration: none;
  margin-top: var(--spacing-12);
  font-weight: var(--fontWeight-black);
  box-shadow: 6px 6px 0px 0px var(--color-dark);
  transition-duration: 0.4s;
}

.newsletter-container:hover .newsletter-link {
  color: var(--color-dark);
  background: var(--color-light);
  -webkit-border-radius: var(--spacing-1);
  -moz-border-radius: var(--spacing-1);
  border-radius: var(--spacing-1);
  padding: var(--spacing-3);
  border: solid var(--color-dark) var(--spacing-1);
  text-decoration: none;
  margin-top: var(--spacing-12);
  font-weight: var(--fontWeight-black);
}

.bio {
  /* display: flex; */
  margin-bottom: var(--spacing-12);
}

.bio p {
  font-size: var(--fontSize-2);
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  border-radius: 100%;
  min-width: 32px;
  border: var(--spacing-px) solid var(--color-dark);
  box-shadow: 0 0 0.10rem 0.10rem var(--color-secondary-accent);
}

.bio-avatar-link:hover {
  border: none;
  background-color: transparent;
}

.bio-avatar:hover {
  border: var(--spacing-3px) solid var(--color-dark);
  padding: var(--spacing-px);
  box-shadow: none;
}

.gallery-image {
  min-width: 100%;
  max-width: 100%;
  margin-bottom: var(--spacing-6);
  border-radius: var(--spacing-1);
  box-shadow: 0 0 0.15rem 0.15rem var(--color-secondary-accent);
}

.about-image {
  width: 250px;
  height: auto;
  float: left;
  margin-top: 6px;
  margin-right: var(--spacing-6);
  margin-bottom: var(--spacing-6);
  border-radius: var(--spacing-1);
  box-shadow: 0 0 0.15rem 0.15rem var(--color-secondary-accent);
}

.about-image picture img,
.gallery-image picture img {
  padding: var(--spacing-2);
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

/* .blog-post-nav ul {
  margin: var(--spacing-0);
} */

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

/* Media queries */

/* Table of Contents */

.toc-container {
  display: none;
}

.blog-post-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-8);
}

@media (min-width: 1024px) {
  .global-wrapper.wide-wrapper {
    max-width: 65rem;
    padding: var(--spacing-10) var(--spacing-5);
  }

  .toc-container {
    display: block;
    position: sticky;
    top: 6rem;
    height: fit-content;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    font-size: var(--fontSize-0);
    font-weight: var(--fontWeight-bold);
  }

  .toc-container ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    border-left: 2px solid var(--color-secondary-accent);
  }

  .toc-container li {
    margin-bottom: var(--spacing-2);
    padding-left: var(--spacing-3);
  }

  .toc-container a {
    color: var(--color-secondary-accent);
    box-shadow: none;
    border-bottom: none;
    display: block;
    line-height: normal;
  }

  .toc-container a:hover,
  .toc-container a.active {
    font-weight: var(--fontWeight-black);
    color: var(--color-primary-accent);
    background: none;
    border-bottom: none;
  }

  .blog-post-grid {
    grid-template-columns: 200px 1fr;
    align-items: start;
  }
}

@media (max-width: 42rem) {

  ul,
  ol {
    margin-left: var(--spacing-2);
  }

  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }

  .about-image {
    float: none;
    display: block;
    margin-left: var(--spacing-0);
    margin-right: auto;
    height: auto;
  }

  .gallery-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}